* {margin:0; paddin:0;}

body {
	background-image:url(../php/imagens/preto-branco.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	/*fixed - Deixa uma imagem fixa no fundo e enquanto desce
	a página a imagem continua de fundo sem se mexer,
	muito usado em blog com uma imagem bem grande.
	scroll - acompanha a rolagem, então se descer a barra de rolagem
	a imagem vai subindo
	*/
	background-position: right top;
	/*Pode usar center, left, right, top, bottom... para marcar a posição de uma imagem de fundo*/
	
	/*Pode indicar tudo assim:
	background: color image repeat attachment position;*/
	background: #000 url(../php/imagens/preto-branco.png) no-repeat fixed center top;
}

#caixa {
	width:500px;
	height:1900px;
	margin:10px;
	color:#09f;
	background-color:#069;
	background-image:url(../php/imagens/excluir.gif);
	background-repeat: repeat-y;
	/*no-repeat - Não repete a imagem
	repeat - Padrão, repete a imagem
	repeat-x - Repete a imagem somente na horizontal
	repeat-y - Repete a imagem somente na vertical
	*/
}