/*
Site Pro Tableless - Imprima
Versão 1.0
Autor: Carlos Eduardo Silva
Site do autor: localhost/protableless/print
*/

/*RESET*/
*{margin:0; padding:0;}
body{background:url(./imagens/body_bg.png) repeat-x #fff;}
#site{width:900px; margin:0 auto;}
#spacer{width:900px; height:15px; background: url(./imagens/espacer_bg.png) repeat-x #fff;}
#footer_spacer{width:900px; height:15px; background: url(./imagens/footer_spacer_bg.png) repeat-x #fff;}
#content{width:900px; background:url(./imagens/content_bg.png) repeat-y center; float:left;}
#clear{clear:both;}

/*TOPO*/
#header{width:900px; height:161px;}
#header .logo{width:480px; height:109px; margin:0 auto; display:block;}
#header .line, #footer .line{width:900px; height: 2px; background:url(./imagens/header_line_bg.png) repeat-x;}
#header .menu, #footer .menu{float:left; list-style:none;display: inline; width:878px; border-bottom:3px solid #D36666; padding:3px 12px;}
#header .menu li, #footer .menu li{float:left; margin:10px;}
#header .menu li a, #footer .menu li a{font:bold 14px Arial, Helvetica, sans-serif; color:#fff;text-transform:uppercase; text-decoration:none; float:left;}
#header .menu li a:hover, #footer .menu li a:hover{text-decoration:underline;}
#header .menu .iconr, #footer .menu .iconr{width:17px; height:17px; background: url(./imagens/icon_ul_menu_r.png) no-repeat center;}
#header .menu .iconl, #footer .menu .iconl{width:17px; height:17px; background: url(./imagens/icon_ul_menu_l.png) no-repeat center;}
#header .menu .disc, #footer .menu .disc{width:17px; height:17px; background: url(./imagens/li_disc.png) no-repeat center;}
#header .info_print{display:none;}

/*CONTEUDO*/
#conteudo{margin:0 10px 5px 10px; float:left; width:880px; min-height:597px;}

/*CONTEUDO-LEFT*/
#conteudo .titulo{margin-bottom:10px; padding:6px; background:#333; font:normal 20px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#fff;}
#conteudo .item_left{width: 430px; float:left;}
#conteudo .item_left .ref{padding: 5px; background: #fff; margin-bottom: 10px; float:left;}
#conteudo .item_left .ref h2{font:18px Arial, Helvetica, sans-serif; color:#333;}
#conteudo .item_left .ref p{font:12px Arial, Helvetica, sans-serif; color:#333; margin: 10px 0}
#conteudo .item_left .ref ul{list-style: square; margin: 0 25px; color:#666;}
#conteudo .item_left .ref li{margin:3px 0; font:bold 12px Arial, Helvetica, sans-serif; color:#666;}
#conteudo .item_left .ref span{font:27px Arial, Helvetica, sans-serif; color:#900;}
#conteudo .item_left .ref .contato{margin:10px 0;}
#conteudo .item_left .ref .contato span{padding:6px; background:#900; font:27px Arial, Helvetica, sans-serif; color:#fff; margin-bottom:10px; display:block; float:left;}
#conteudo .item_left .ref .contato p{margin:3px 0; float:left; display:block; font-size:16px;}
#conteudo .item_left .imagens{float:left; list-style:none;}
#conteudo .item_left .imagens li{margin-bottom:10px;}

/*CONTEUDO-RIGHT*/
#conteudo .item_right{width: 430px; float:right;}
#conteudo .item_right .thumb{float:right;}
#conteudo .item_right .gallery{padding: 5px; background: #fff; float:right;margin: 10px 0; width: 420px; list-style: none; display:inline;}
#conteudo .item_right .gallery li{float:left; margin:5px;}
#conteudo .item_right .print{padding:6px; background:#333; text-align:center; float:right; width:418px;}
#conteudo .item_right .print a{background: none; border:0; font:bold 18px Arial, Helvetica, sans-serif; color:#fff; cursor:pointer;  text-decoration:none;}


/*FOOTER*/
#footer{height:185px; background:#990000;}
#footer .footer_content{width:900px; margin:0 auto; height:185px;}
#footer .footer_elementos{float:left;width: 900px; list-style-type:none;display:inline;}
#footer .footer_elementos li{float:left; margin:20px 113px 0 10px;}
#footer .footer_elementos .right{float:right; margin:20px 10px 0 0;}
#footer .footer_elementos li .tel{font:bold italic 20px Arial, Helvetica, sans-serif; color:#fff; padding-left:38px; background: url(./imagens/footer_tel.png) no-repeat;}
#footer .footer_elementos li .mail{font:bold italic 20px Arial, Helvetica, sans-serif; color:#fff; padding-left:38px; background: url(./imagens/footer_mail.png) no-repeat;}
#footer .footer_elementos li p{font:bold 16px Arial, Helvetica, sans-serif; color:#fff; text-transform:uppercase; margin:5px 10px;}
#footer .footer_elementos li .min{font:bold 14px Arial, Helvetica, sans-serif; color:#fff; text-transform:lowercase; margin:8px 10px;}

/*PÁGINAS*/
#pagina{width:880px;}

/*404-PageNotFound*/
.erro{padding:5px; background: #fff; text-align: center}
.erro p{font:bold 12px Arial, Helvetica, sans-serif; color:#069; margin-bottom:10px;}

/*Quem Somos*/
#pagina ul{list-style-type:none;}
#pagina #left{width:630px; margin-right:20px; float:left;}
#pagina #left li{padding: 5px; background: #fff; border:1px solid #ccc; margin-bottom:10px;}
#pagina #left li h2{font:bold 14px Verdana, Geneva, sans-serif; text-transform: uppercase; color:#069;}
#pagina #left li p{margin: 10px 0;font:13px Arial, Helvetica, sans-serif; color:#666;}
#pagina #right{float:right; width: 220px;}
#pagina #right li{margin-bottom:55px;}