* {margin:0; paddin:0;}

#um{
	width:660px;
	padding:10px;
	border:5px solid #000;
	position: relative;
	height:1500px;
}

#dois{
	width:200px;
	height:150px;
	background:#0c0;
	margin:10px;
	float:left;
	position:absolute;
	top:200px;
	left:120px;
	z-index:3;
}

#dois strong {
	/*display: inline;*/
	/*display: block;*/
	display:none;
}

#tres{
	width:200px;
	height:150px;
	background:#636;
	margin:10px;
	float:left;
	position:absolute;
	top:180px;
	left:100px;
	z-index:2;
}

#quatro{
	width:200px;
	height:150px;
	background:#fc0;
	float:right;
	margin:10px;
	/* embaixo à direita
	position: absolute;
	bottom:0;
	right:0;*/
	
	/* cima à esquerda
	position: absolute;
	top:0;
	left:0;*/
	/*position:static;*/
	/*position:fixed; acompanha o navegador, se descer a página o elemento vai acompanhar junto*/
	position:absolute;
	top:150px;
	left:80px;
	z-index:1;
}

#clear {
	clear:both;
}