/* CORPO DO SITE - INLINE 
seletor{comando:estilo; comando:estilo;}
*/

/* CORPO DO SITE - UM ABAIXO DO OUTRO 
seletor {
	comando:estilo;
	comando:estilo;
}
*/

/*SELETOR GLOBAL '*' */
* {margin:0; padding: 0;}

#conteudo {
	background:url(../php/imagens/topo_aclive_esq.gif) #000;);
	border:5px solid #000;
	width:650px;
	padding: 10px;
}


#conteudo .um {color:#006699;}
#conteudo .dois {color: #F00;}
#conteudo .tres {color: rgb(200,50,20);}
#conteudo .tres {color: rgb(80%,20%,15%);}
#conteudo .caixa {padding:10px; background:rgba(255,255,255,0.8);}/*rgba() é do css3*/